body {
    margin: 0px;
    }
    
    .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto; margin-right: auto
    }

    #first {margin-top: 1%; margin-bottom: 1%;
    flex-direction: row;
    justify-content: space-between;
}

    .starter {height: 10vh;
    background-color: darkgreen;}

    #A1 {width: 22%; margin-left: 1%}
    #A2 {width: 75%; margin-right: 1%}

    #general {
    margin-left: 1%; margin-right: 1%;
    margin-bottom: 1%;
    width: 98%; height: 50vh;
    background-color: darkred;
    flex-direction: row;
    justify-content: center;
    }

    .B {width: 20vw; height: 20vw; margin: 0px;
    border-radius: 50%;
   }

    #B1 {z-index: 0; background-color: rgb(250, 34, 34);}
    #B2 {z-index: 1; margin-left: -10vh;
        background-color: rgb(250, 92, 92);}
    #B3 {z-index: 2; margin-left: -10vh;
        background-color: rgb(247, 156, 156);}
    #B4 {z-index: 3; margin-left: -10vh;
        background-color: rgb(248, 226, 226);}


    .big {margin: 0% 1% 1%;
    width:98%;
    height: 15vh;
    background-color: #222;
    }
    
    #two {background-color: #444;}
    #three {background-color: #666;}
    
    @media (orientation: landscape)
    {
    
    .main {flex-direction: row;
    justify-content: space-evenly}
    .big {margin: 0% 0% 1%;
    width:32%; height: 40vh;
    }
    #general {
    margin-left: 1%; margin-right: 1%;
    }
    .B {width: 20vh; height: 20vh;}
    
    }
    